# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
*.lock

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# APK (trop gros pour GitHub)
*.apk

# IDE
.vscode/
*.swp
*.swo

# Logs
*.log

# Test
coverage/
